.contact-a {
  @apply relative z-40;

  .container {
    @apply flex justify-between items-start px-0;

    flex-flow: row wrap;

    @media (max-width: 1023px) {
      flex-flow: column wrap;
      padding: 0 !important;
    }

    p,
    a {
      @apply text-white;
    }

    svg {
      font-size: 16px;
    }

    .contact-info,
    iframe {
      @apply w-1/2;

      @media (max-width: 1023px) {
        @apply w-full;
      }
    }

    .contact--inner {
      @apply block px-30 mx-auto ml-0;

      max-width: 715px;

      @media (max-width: 1023px) {
        @apply py-0 px-15;
      }

      .button--secondary {
        color: #213343 !important;
      }
    }

    address,
    .contact-info--tel,
    .contact-info--email,
    .contact-info--hours {
      @apply relative text-p;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
      }
    }

    .site__title {
      font-size: 24px;
    }

    .contact-info--email {
      @apply pl-30;

      &::before {
        background-image: url(/app/themes/sage/resources/assets/images/envelope.svg);
        top: 7px;
      }
    }

    .contact-info--tel {
      @apply pl-30;

      &::before {
        background-image: url(/app/themes/sage/resources/assets/images/phone.svg);
      }
    }

    .contact-info--hours {
      @apply pl-30;

      &::before {
        background-image: url(/app/themes/sage/resources/assets/images/time.svg);
      }
    }

    address {
      @apply pl-30;

      &::before {
        background-image: url(/app/themes/sage/resources/assets/images/location.svg);
      }
    }
  }
}
