.footer-c {
  .copyright {
    @apply text-primary-2;

    a {
      @apply text-primary-2;
    }
  }

  .footer_nav {
    @apply flex justify-center items-center;

    list-style: none;

    @media (max-width: 1023px) {
      @apply justify-center;

      flex-flow: column wrap;
    }

    li {
      @apply px-15;

      a {
        @apply text-primary-2;
      }

      .sub-menu {
        @apply hidden;
      }
    }

    .menu-item-has-children > a::after {
      display: none;
    }
  }

  .footer_branding {
    img {
      @apply block mx-auto mt-45;
    }
  }
}
