.header-a {
  @apply mt-0 relative;

  transition: all ease 1s;
  z-index: 500;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);

  .logged-in & {
    top: 30 !important;

    @media (max-width: 768px) {
      top: 0 !important;
    }
  }

  svg {
    @apply text-primary-1 mr-2;
  }

  .button svg {
    @apply m-0 text-white;
  }

  // Wesbite Logo Styling
  .header__branding {
    @apply absolute;

    left: 15px;
    top: -35px;

    @media (max-width: 1023px) {
      @apply absolute block mx-auto;

      top: -5px;
      left: 0;
      right: 0;
    }

    img {
      max-width: 330px;

      @media (max-width: 1023px) {
        @apply -mb-3;

        max-width: 150px;
      }
    }
  }

  // hamburger Icon
  .w-hamburger {
    @apply bg-primary-2 relative;

    .nav-is-open & {
      @apply bg-white;
    }
  }

  .nav-toggle {
    @apply relative;

    span {
      @apply bg-primary-1;

      &::before,
      &::after {
        @apply bg-primary-1;

        .nav-is-open & {
          @apply bg-primary-1;

          opacity: 1;
        }
      }
    }
  }

  // Nav Mobile
  nav {
    z-index: 100;

    // 1023 <=
    @media (max-width: 1023px) {
      @apply hidden;

      .primary-nav-a {
        @apply w-full;

        order: 2;
      }

      .button {
        @apply w-full text-center mb-15;

        order: 1;
      }

      .mobile__meta {
        order: 3;
      }

      svg {
        @apply text-primary-1;
      }

      // Navigation Open
      .nav-is-open & {
        @apply flex p-15 absolute w-full bg-primary-5 mt-45;

        left: 0;
        flex-flow: column wrap;
        overflow: scroll;
        padding-bottom: 90px;
        top: 0;
        height: 100vh;
        z-index: -1;

        a {
          @apply uppercase leading-normal text-white text-primary-1;
        }

        .button {
          @apply text-white;
        }
      }
    }

    li {
      @media (min-width: 1024px) {
        @apply ml-15 py-2;
      }

      @media (max-width: 1023px) {
        @apply py-2 border-b-2 border-primary-2;
      }

      a {
        @apply uppercase leading-normal text-primary-4 font-lato-regular;

        font-size: 20px;

        @media (max-width: 1023px) {
          @apply text-white;
        }
      }
    }

    // Home Button and other unique menu-items
    .menu-item-20 {
      @media (min-width: 1024px) {
        @apply hidden;
      }
    }

    // sub-menu Background Color control
    .sub-menu {
      @media (min-width: 1024px) {
        @apply bg-primary-2;

        left: -15px;
        top: 100%;
        z-index: -1;
        border-top: 4px solid rgba(0, 0, 0, 0.17);
        min-width: 300px !important;
      }

      a {
        @apply capitalize;
      }

      li {
        @apply border-0 ml-0;

        @media (min-width: 1024px) {
          @apply pl-15;
        }
      }
    }

    [data-state="open"] .sub-menu {
      @apply p-0 m-0;
    }
  }

  .social-icon {
    @apply bg-primary-3 h-45 w-45 p-3;

    border-radius: 100%;

    svg {
      @apply m-0 h-6 w-30;
    }
  }

  // Fixed Property
  #header-fixed & {
    @apply fixed w-full;

    margin-top: 0;
    top: 0;
  }
}

#header-fixed {
  // Scrool behavior
  .scroll-head--a {
    @media (min-width: 1024px) {
      margin-top: -60 !important;

      .header__branding img {
        max-width: 200px;
      }
    }
  }
}
