// Update theme colors based off Tailwind.config
// Output example:  var(--primary-1);

.header-c {
  position: relative;
  margin-top: 0;
  transition: all ease 1s;
  z-index: 100;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.7);

  // Wesbite Logo Styling
  .header__left {
    @apply relative;

    @media (max-width: 1023px) {
      order: 2;
    }

    @media (min-width: 1024px) {
      &::after {
        @apply absolute;

        content: "";
        left: 100%;
        top: -7px;
        width: 0;
        height: 0;
        border-top: 115px solid white;
        border-right: 110px solid transparent;

        #header-fixed & {
          border-top: 116px solid white;
        }
      }
    }

    .logo__container {
      @apply w-full mx-auto mr-0 block pl-15 pr-45;

      max-width: 350px;

      @media (max-width: 1023px) {
        @apply mr-auto ml-0 py-2 pr-0;
      }

      .header__branding {
        @apply block mx-auto ml-0;

        img {
          @apply mx-auto mr-0 pr-15 mt-30;

          max-width: 250px;
          transition: all ease 1s;

          @media (max-width: 1023px) {
            @apply ml-0 mt-0 py-15;

            max-width: 150px;
          }
        }
      }
    }
  }

  .inner__block {
    @apply pr-15 w-full;

    max-width: 1200px;

    @media (max-width: 1023px) {
      @apply pr-0;
    }
  }

  // Phone Number & CTA
  .header__top {
    h6 {
      @apply m-0;
    }

    @media (min-width: 1024px) {
      @apply flex items-end;

      flex-flow: row wrap;

      a {
        @apply ml-30;
      }
    }
  }

  [data-state="open"] .sub-menu {
    @apply p-0 m-0;
  }

  // hamburger Icon
  .w-hamburger {
    @apply bg-white absolute;

    right: 15px;
    margin-top: 35px;
    z-index: 100;

    .nav-is-open & {
      @apply bg-primary-1 mb-30;
    }
  }

  .nav-toggle {
    z-index: 500;

    span {
      @apply bg-primary-1;

      &::before,
      &::after {
        @apply bg-primary-1;

        .nav-is-open & {
          @apply bg-white;

          opacity: 1;
        }
      }
    }
  }

  // Nav Mobile
  nav {
    .primary-nav-c {
      z-index: 100;

      li {
        @apply mt-2;
      }

      @media (min-width: 1024px) {
        @apply flex justify-end items-center mt-0;

        li {
          @apply ml-15 py-15 my-0;
        }
      }

      a {
        @apply uppercase leading-normal;

        font-size: 18px;

        @media (max-width: 1023px) {
          font-size: 24px;
        }
      }

      // sub-menu Background Color control
      .sub-menu {
        @media (min-width: 1024px) {
          left: -15px !important;
          background: linear-gradient(135deg, var(--primary-3) 40%, var(--primary-1) 100%);

          li {
            @apply py-2;
          }
        }
      }
    }

    // 1023 <=
    @media (max-width: 1023px) {
      @apply hidden;

      // Navigation Open
      .nav-is-open & {
        @apply block mt-0 p-30 absolute w-full;

        left: 0;
        height: 100vh;
        background: linear-gradient(135deg, var(--primary-3) 0%, var(--primary-1) 100%);

        a {
          @apply uppercase leading-normal;
        }
      }
    }
  }

  .logged-in & {
    margin-top: 30px !important;
  }

  // Fixed Property
  #header-fixed & {
    @apply fixed w-full;

    margin-top: 0;
    top: 0;
  }
}

#header-fixed {
  // Scrool behavior
  .scroll-head--c {
    @media (min-width: 1024px) {
      margin-top: -60px !important;

      .header__branding img {
        @apply py-15;

        margin-top: 15px;
      }
    }
  }
}
