//// Header Type B
///
//
.header-b {
  @apply relative;

  transition: all ease 1s;
  z-index: 500;

  .logged-in & {
    //top: 30px !important;

    @media (max-width: 768px) {
      //top: 45px !important;
    }
  }

  // Header Bottom
  .header__bottom {
    @apply pt-15;

    @media (max-width: 1023px) {
      @apply py-15;

      .mobile--tele {
        @apply hidden items-center mt-0;

        .nav-is-open & {
          @apply ml-0 mt-15 w-full flex;

          span {
            font-size: 24px;
          }
        }
      }

      .font-raleway-regular {
        .nav-is-open & {
          @apply m-0 mt-2;

          display: inline-block;
        }
      }
    }

    // HEader Nav Open
    .nav-is-open & {
      @apply fixed items-start p-15 pt-45 bg-primary-4;

      height: 100vh;
      z-index: 50;
      top: 0;
      left: 0;
      width: 80%;
      background: #fff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
    }
  }

  .header__top {
    @apply bg-primary-1;

    @media (max-width: 1023px) {
      @apply py-2 bg-white;
    }

    svg {
      @apply text-white;

      font-size: 24px;
    }

    i {
      fill: white;
      font-size: 24px;
    }

    a,
    span {
      font-size: 16px;
    }
  }

  // Branding Logo
  .header__branding {
    @apply absolute block mx-auto;

    transition: all ease 1s;
    max-width: 275px;
    left: 0;
    right: 0;
    top: 90px;

    @media (max-width: 1023px) {
      max-width: 145px;
      top: 5px;
    }

    img {
      @apply mx-auto block;
    }

    @media (max-width: 1023px) {
      @apply w-auto my-0;
    }

    .nav-is-open & {
      @apply hidden;
    }
  }

  // Main Nav Controller
  nav {
    @apply w-full flex justify-between items-end;

    flex-flow: row wrap;

    @media (max-width: 1023px) {
      @apply items-center;
    }

    // Inner Nav Controller
    .nav {
      @apply w-1/2;

      @media (max-width: 1023px) {
        @apply w-full flex justify-between items-end;

        flex-flow: row wrap;

        .nav-is-open & {
          @apply justify-start items-start;

          flex-flow: column wrap;
        }
      }
    }

    .sub-menu {
      @apply bg-white p-0 m-0;

      a {
        @apply capitalize;

        @media (min-width: 1024px) {
          @apply px-15;

          margin: 0 !important;
        }
      }
    }

    .nav--right {
      @apply justify-end;

      .sub-menu {
        left: 15px;
      }

      a {
        @media (min-width: 1200px) {
          @apply ml-30;
        }

        @media (min-width: 1024px) {
          @apply ml-30;
        }
      }
    }

    .nav--left {
      .sub-menu {
        left: -15px;
      }

      a {
        @media (min-width: 1200px) {
          @apply mr-30;
        }

        @media (min-width: 1024px) {
          @apply mr-30;
        }
      }
    }

    .nav--right,
    .nav--left {
      @apply flex pb-15;

      flex-flow: row wrap;

      @media (max-width: 1023px) {
        @apply hidden pb-0;

        .nav-is-open & {
          @apply flex;
        }
      }

      .menu-item {
        @apply py-105;

        @media (max-width: 1023px) {
          @apply py-0 pt-3;
        }

        .sub-menu {
          top: 96%;

          @media (min-width: 1024px) {
            @apply border-t-2 border-primary-4;
          }

          .menu-item {
            @apply py-15;

            @media (max-width: 1023px) {
              @apply py-1;
            }
          }
        }
      }

      a {
        @apply uppercase font-raleway-bold text-primary-3;

        font-size: 18px;
        color: #333;
        letter-spacing: 2px;
        line-height: 1.2;

        @media (max-width: 1200px) {
          font-size: 14px;
        }

        @media (max-width: 1023px) {
          font-size: 20px;
        }

        &:hover {
          @apply text-primary-3;
        }
      }
    }
  }

  // Mobile Contact and direction
  .col--right {
    @apply flex;

    .nav-is-open & {
      @apply block w-full;
    }

    svg,
    i {
      @apply text-primary-1;
    }

    .button {
      border-left: 3px solid white;
      border-right: 3px solid white;
      border-top: 0;
      border-bottom: 0;

      .nav-is-open & {
        @apply mt-3;

        display: inline-block;
      }
    }
  }

  // hamburger Icon
  .w-hamburger {
    @apply bg-primary-1 relative;

    left: 5px;
    top: 35px;
    z-index: 100;

    .nav-is-open & {
      @apply bg-transparent mb-0 fixed;

      top: 45px;
      left: 20px;
    }
  }

  .nav-toggle {
    span {
      @apply bg-primary-1;

      &::before,
      &::after {
        @apply bg-primary-1;

        .nav-is-open & {
          opacity: 1;

          @apply bg-primary-1;
        }
      }
    }
  }

  .mobile--contact {
    .nav-is-open & {
      @apply hidden;
    }
  }

  .menu-item-604,
  .menu-item-639 {
    @media (min-width: 1024px) {
      @apply hidden;
    }
  }

  // Nav Mobile
  #menu-nav-type-b-left.nav,
  #menu-nav-type-b-right.nav {
    @media (max-width: 1023px) {
      @apply hidden;

      .nav-is-open & {
        @apply block;
      }
    }
  }

  // Fixed Property
  #header-fixed & {
    @apply fixed w-full bg-primary-2;

    margin-top: 0;
    top: 0;
  }
}

#header-fixed {
  // Scrool behavior
  .scroll-head--b {
    @media (min-width: 1024px) {
      margin-top: -60px !important;

      .header__branding {
        width: 15%;
        margin-top: 15px;
      }
    }
  }
}
