.section-brm--hero {
  @apply bg-cover bg-right relative;

  z-index: 100;

  @media (max-width: 1023px) {
    background-position: 75%;
    min-height: 350px !important;
  }

  .slick-dots {
    @apply relative text-center;

    margin-top: -45px;

    @media (min-width: 1024px) {
      margin-top: -75px;
    }
  }
}

#header-fixed {
  .brm-hero {
    @apply mt-75;
  }
}
