.section,
.section--contained {
  @apply py-75;

  z-index: 10;

  @media (max-width: 1023px) {
    padding: 45px 15px !important;

    .column {
      padding: 30px 0 !important;
      order: 2;
    }
  }

  .slick-list,
  .slick-track,
  .gallery-item {
    height: 100% !important;
  }
}

@media (max-width: 1023px) {
  .js-background {
    order: 1 !important;
  }

  .section--split {
    padding: 30px 0 !important;
  }
}

.section__bg {
  max-height: 700px;
}

.parallax_scroll {
  position: absolute;
  top: -150px;
  left: 0;
  height: 150%;
  width: 150%;

  @media (max-width: 1023px) {
    top: -105px;
    width: 150%;
    height: 200%;
  }

  .no-attachment {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.container {
  @apply block mx-auto px-15;

  max-width: 1450px;

  .section--contained & {
    align-items: center;
    flex-flow: row wrap;
  }
}

.section--full {
  .home & {
    img {
      @apply mb-15;
    }

    h4 {
      @apply mb-30;
    }
  }
}

// Flip Order of split or contained content

.section__content {
  .one-half & {
    @apply block mx-auto;

    max-width: 700px;

    @media (max-width: 1023px) {
      @apply max-w-full;
    }
  }

  .order-two & {
    @apply ml-0;
  }

  .order-one & {
    @apply mr-0;
  }

  @media (max-width: 1023px) {
    left: auto !important;
    right: auto !important;
  }
}

// Rows Styling
.row {
  @apply mt-30;

  flex-flow: row wrap;

  .column {
    @media (max-width: 1023px) {
      @apply w-full;
    }
  }
}
