// Dots
.slick-dots {
  @apply px-buffer list-none  block mx-auto mt-15;

  li {
    @apply inline-block pl-0 text-base leading-none;
  }

  > li {
    display: inline-block;
  }

  li + li {
    @apply mt-0 ml-2;
  }

  > li:only-child {
    display: none;
  }

  button {
    @apply w-dot bg-transparent rounded-full border-2 border-solid border-white bg-white appearance-none;

    text-indent: -9999px;
    height: 20px;
  }

  .slick-active {
    button {
      @apply bg-transparent border-white;
    }
  }
}

// Arrows
.slick-arrow {
  position: absolute;
  z-index: 10;
  top: 45%;

  svg {
    @apply text-primary-1;

    font-size: 45px;
  }
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
