.section--attractions {
  .attractions--list {
    @apply flex;

    flex-flow: row wrap;

    .attractions {
      @apply w-1/3 px-15 pt-1 text-center;

      @media (max-width: 1200px) {
        @apply w-1/2;
      }

      @media (max-width: 768px) {
        @apply w-full;
      }

      .attractions--inner {
        @apply relative flex justify-center items-center bg-cover bg-center;

        min-height: 500px;

        @media (max-width: 768px) {
          min-height: 350px;
        }

        .hover--content {
          @apply absolute flex justify-center items-center p-15;

          flex-flow: column wrap;
          height: 90%;
          width: 90%;
          background-color: rgba(#c2dddb, 0.8);
          transform: scale(0.8);
          opacity: 0;
          transition: all ease 0.5s;

          &:hover {
            opacity: 1;
            transform: scale(1);
          }

          @media (max-width: 1023px) {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}
