.js-col-gallery,
.js-col-gallery-two,
.js-col-gallery-three {
  .gallery-item {
    padding-bottom: 12%;
    min-height: 450px;
    height: 100%;
  }

  .slick-arrow {
    top: 80%;
  }

  .prev {
    right: 60px;
    left: auto;
  }
}

///// Order states
.order-one {
  order: 1;
}

.order-two {
  order: 2;
}

.order-three {
  order: 3;
}

.section--builder {
  @media (max-width: 1023px) {
    padding-top: 45px !important;
    padding-bottom: 0 !important;
  }

  .js-background {
    box-sizing: border-box;
    border: 20px;
    border-color: rgba(white, 0.8);
    border-style: solid;

    @media (max-width: 1023px) {
      @apply w-full;

      min-height: 350px;
    }
  }
}
