.brm-columns {
  @apply relative z-40;

  flex-flow: row wrap;

  .column {
    @apply py-15;
  }
}

.width-25 {
  width: calc(25% - 15px);

  @media (max-width: 1023px) {
    width: calc(50% - 15px);
  }

  @media (max-width: 768px) {
    @apply w-full;
  }
}

.width-33 {
  width: calc(33% - 15px);

  @media (max-width: 1023px) {
    width: calc(50% - 15px);
  }

  @media (max-width: 768px) {
    @apply w-full;
  }
}

.width-50 {
  width: calc(50% - 15px);

  @media (max-width: 768px) {
    @apply w-full;
  }
}

.width-75 {
  width: calc(75% - 15px);

  @media (max-width: 768px) {
    @apply w-full;
  }
}
