.fancy-content {
  @apply block mx-auto;

  max-width: 1500px;

  .fancy-box--inner {
    @apply flex justify-start items-start;

    flex-flow: row wrap;

    .member--image {
      @apply w-1/4 bg-cover bg-center;

      padding-bottom: 25%;
    }

    .member--bio {
      @apply w-3/4;
    }
  }
}

.team--roster-b {
  .js-team--slider {
    @apply flex justify-start items-start;

    flex-flow: row wrap;

    .team--members {
      @apply w-1/4 p-15;

      @media (max-width: 1023px) {
        @apply w-1/3;
      }

      @media (max-width: 768px) {
        @apply w-1/2;
      }

      .member--image {
        @apply bg-cover bg-center mb-15;

        padding-bottom: 100%;
      }

      .column-content {
        //
      }
    }
  }

  .slick-arrow {
    top: 30%;

    svg {
      @apply text-primary-1;
    }
  }
}
