.section--portals {
  .brm-portals {
    @apply flex flex-row flex-wrap justify-start items-start;

    .portal {
      .portal--outer,
      .portal--amenities {
        @apply flex flex-row flex-wrap justify-center items-center relative;

        overflow: hidden;

        .portal--bg {
          @apply absolute w-full h-full;

          left: 0;
          top: 0;
          transform: scale(1);
          transition: all ease 1.5s;
          z-index: 1;

          .bg-image {
            left: 0;
            top: 0;
          }

          &::before {
            @apply w-full h-full absolute bg-primary-3;

            content: "";
            left: 0;
            top: 0;
            opacity: 0;
            pointer-events: none;
            transition: all ease 1.5s;
            z-index: 5;
          }
        }

        .button {
          @apply px-15 text-primary-1;

          z-index: 10;
          top: 0;
          transition: all ease 1.5s;
          max-width: 250px;
        }
      }

      &:hover {
        .portal--bg {
          transform: scale(1.2);

          &::before {
            opacity: 0.3;
          }
        }
      }
    }
  }
}
